<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!-- Header -->
<head th:replace="layouts :: head"></head>

<body>
<!-- Navigation -->
<nav th:replace="layouts :: navbar"></nav>

<center>
    <div class="container">
        <form method="post" th:action="@{/users/updatePass}" th:object="${userChangePasswordDto}">

            <div class="form-group col-sm-5">
                <label for="oldPassword">Old Password</label>
                <input th:field="*{oldPassword}" type="password" class="form-control" id="oldPassword"
                       aria-describedby="oldPass" placeholder="Old Password..">
                <!-- validation for @Valid in Controller -->
                <span style="color:red" th:if="${#fields.hasErrors('oldPassword')}" th:errors="*{oldPassword}"></span>
            </div>

            <div class="form-group col-sm-5">
                <label for="newPass">New Password</label>
                <input th:field="*{newPassword}" type="password" class="form-control" id="newPass"
                       placeholder="New Password..">
                <!-- validation for @Valid in Controller -->
                <span style="color:red" th:if="${#fields.hasErrors('newPassword')}" th:errors="*{newPassword}"></span>
            </div>

            <div class="form-group col-sm-5">
                <label for="confirmNewPass">Confirm New Password</label>
                <input th:field="*{confirmNewPassword}" type="password" class="form-control" id="confirmNewPass"
                       placeholder="Confirm New Password..">
                <!-- validation for @Valid in Controller -->
                <span style="color:red" th:if="${#fields.hasErrors('confirmNewPassword')}"
                      th:errors="*{confirmNewPassword}"></span>
            </div>

            <button type="submit" class="btn btn-success ml-3">Update New Password</button>
            <a th:href="@{/users/profile}" class="btn btn-primary ml-3" id="backButton">Back to Profile</a>
        </form>
    </div>
</center>

<!-- Bootstrap core JavaScript -->
<th:block th:include="layouts :: assets"></th:block>

</body>

<!-- Footer -->
<footer th:replace="layouts :: footer"></footer>

</html>