<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!-- Header -->
<head th:replace="layouts :: head"></head>

<body>
<!-- Navigation -->
<nav th:replace="layouts :: navbar"></nav>

<!-- Page Content -->
<div class="container">
    <h5 class="d-flex justify-content-center">
        <i th:if="${param.error}" style="color: red">
            Wrong username or password
        </i>
    </h5>

    <h5 class="d-flex justify-content-center">
        <i th:if="${param.logout}" style="color: green">
            You logged out successfully
        </i>
    </h5>

    <hr>

    <form method="post" th:action="@{/authenticate}">
        <div class="form-group row">
            <label for="username" class="col-sm-2 col-form-label">Username</label>
            <div class="col-sm-5">
                <input type="text" class="form-control" id="username" name="username"
                       placeholder="Please enter username...">
            </div>
        </div>

        <div class="form-group row">
            <label for="password" class="col-sm-2 col-form-label">Password</label>
            <div class="col-sm-5">
                <input type="password" class="form-control" id="password" name="password"
                       placeholder="Please enter password...">
            </div>
        </div>

        <div class="form-group row">
            <div class="col-sm-5">
                <button type="submit" class="btn btn-primary">Login</button>
                <br>
                <br>
                <br>
                <br>
                <h3>Don't have an account?</h3>
                <a class="btn btn-primary" th:href="@{/register}">Register</a>
            </div>
        </div>
    </form>
    <hr>
</div>

<!-- Bootstrap core JavaScript -->
<th:block th:include="layouts :: assets"></th:block>

</body>

<!-- Footer -->
<footer th:replace="layouts :: footer"></footer>

</html>