<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!-- Header -->
<head th:replace="layouts :: head"></head>

<!-- Custom Style CSS -->
<link th:href="@{../static/css/policies-page.css}" rel="stylesheet">

<body>
<!-- Navigation -->
<nav th:replace="layouts :: navbar"></nav>
<hr/>
<div class="container">
    <div class="row">
        <div class="col-xl-3 col-md-6">
            <div class="card bg-pattern">
                <div class="card-body">
                    <div class="float-right">
                        <i class="fa fa-archive text-primary h4 ml-3"></i>
                    </div>
                    <h5 th:text="${policiesCount}" class="font-size-20 mt-0 pt-1"></h5>
                    <p class="text-muted mb-0">Total Policies</p>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card bg-pattern">
                <div class="card-body">
                    <div class="float-right">
                        <i class="fa fa-th text-primary h4 ml-3"></i>
                    </div>
                    <h5 th:text="${approvedPolicies}" class="font-size-20 mt-0 pt-1"></h5>
                    <p class="text-muted mb-0">Approved Policies</p>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card bg-pattern">
                <div class="card-body">
                    <div class="float-right">
                        <i class="fa fa-file text-primary h4 ml-3"></i>
                    </div>
                    <h5 th:text="${pendingPolicies}" class="font-size-20 mt-0 pt-1"></h5>
                    <p class="text-muted mb-0">Pending Policies</p>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card bg-pattern">
                <div class="card-body">
                    <div class="float-right">
                        <i class="fa fa-file text-primary h4 ml-3"></i>
                    </div>
                    <h5 th:text="${cancelledPolicies}" class="font-size-20 mt-0 pt-1"></h5>
                    <p class="text-muted mb-0">Cancelled Policies</p>
                </div>
            </div>
        </div>
    </div>
    <hr/>
    <!-- end row -->

    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <div class="table-responsive project-list">
                        <h2 th:if="${userPolicies.isEmpty()}">
                            <i>You don't have any policies yet</i>
                        </h2>
                        <table th:unless="${userPolicies.isEmpty()}"
                               class="table project-table table-centered table-nowrap">
                            <thead>
                                <th scope="col">#</th>
                                <th scope="col">Effective Date</th>
                                <th scope="col">Email</th>
                                <th scope="col">Postal Address</th>
                                <th scope="col">Registration Certificate</th>
                                <th scope="col">Status</th>
                                <th scope="col">Offer Details</th>
                                <th scope="col">Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="policy, iter : ${userPolicies}">
                                <th th:text="${iter.index + 1}" scope="row"></th>
                                <td th:text="${policy.effectiveDate}"></td>
                                <td th:text="${policy.email}"></td>
                                <td th:text="${policy.postalAddress}"></td>
                                <td>
                                    <section id="main">
                                        <div class="inner">
                                            <div class="box alt">
                                                <div class="row 50% uniform">
                                                    <div class="4u">
                                                        <figure>
                                                            <img th:src="@{'data:image/png;base64,'+${policy.generateBase64Image()}}"
                                                                 alt="Registration Certificate Image" class="thumbnail">
                                                        </figure>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </section>
                                </td>
                                <td>
                                     <span th:if="${policy.status.name == 'pending'}" class="text-info font-12"><i
                                             class="mdi mdi-checkbox-blank-circle mr-1"></i>Pending</span>
                                    <span th:if="${policy.status.name == 'approved'}" class="text-success font-12"><i
                                            class="mdi mdi-checkbox-blank-circle mr-1"></i>Approved</span>
                                    <span th:if="${policy.status.name == 'rejected'}" class="text-danger font-12"><i
                                            class="mdi mdi-checkbox-blank-circle mr-1"></i>Rejected</span>
                                    <span th:if="${policy.status.name == 'canceled'}" class="text-muted font-12"><i
                                            class="mdi mdi-checkbox-blank-circle mr-1"></i>Canceled</span>
                                </td>
                                <td>
                                    <a th:href="@{/offers/offerDetails(id=${policy.offer.id})}"
                                       class="btn btn-light btn-sm">Show Offer Details
                                    </a>
                                </td>
                                <td>
                                    <form th:if="${policy.status.name == 'pending'}" method="post"
                                          th:action="@{/policies/cancelPolicy(id=${policy.id})}">
                                        <button class="btn btn-warning btn-sm" type="submit"
                                                onclick="if (!(confirm(`Are you sure you want to CANCEL this policy?`))) return false;">
                                            Cancel
                                        </button>
                                    </form>
                                    <span th:unless="${policy.status.name == 'pending'}" class="text-success font-12"><i
                                            class="mdi mdi-checkbox-blank-circle mr-1"></i>Completed
                                    </span>
                                </td>
                                <td>
                                    <div class="action">
                                        <a href="#" class="text-success mr-4" data-toggle="tooltip" data-placement="top"
                                           title="" data-original-title="Edit"> <i class="fa fa-pencil h5 m-0"></i></a>
                                        <a href="#" class="text-danger" data-toggle="tooltip" data-placement="top"
                                           title="" data-original-title="Close"> <i class="fa fa-remove h5 m-0"></i></a>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                    <!-- TODO: LEFT FOR FUTURE RELEASE -->
                    <!-- end project-list -->
                    <!--                    <div class="pt-3">-->
                    <!--                        <ul class="pagination justify-content-end mb-0">-->
                    <!--                            <li class="page-item disabled">-->
                    <!--                                <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>-->
                    <!--                            </li>-->
                    <!--                            <li class="page-item"><a class="page-link" href="#">1</a></li>-->
                    <!--                            <li class="page-item active"><a class="page-link" href="#">2</a></li>-->
                    <!--                            <li class="page-item"><a class="page-link" href="#">3</a></li>-->
                    <!--                            <li class="page-item">-->
                    <!--                                <a class="page-link" href="#">Next</a>-->
                    <!--                            </li>-->
                    <!--                        </ul>-->
                    <!--                    </div>-->
                    <a th:href="@{/users/profile}" class="btn btn-primary ml-3" id="backButton">Back to Profile</a>
                </div>
            </div>
        </div>
    </div>
    <!-- end row -->
</div>

<!-- Bootstrap core JavaScript -->
<th:block th:include="layouts :: assets"></th:block>

</body>

<!-- Footer -->
<footer th:replace="layouts :: footer"></footer>

</html>