<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!-- Header -->
<head th:replace="layouts :: head"></head>

<!-- Custom Style CSS -->
<link rel="stylesheet" th:href="@{../static/css/profile-page-css.css}">

<body>
<!-- Navigation -->
<nav th:replace="layouts :: navbar"></nav>

<div class="container light-style flex-grow-1 container-p-y" th:object="${userInfo}">
    <hr/>
    <h4 class="font-weight-bold py-3 mb-4">Account settings</h4>
    <div class="card overflow-hidden">
        <div class="row no-gutters row-bordered row-border-light">
            <div class="col-md-3 pt-0">
                <div class="list-group list-group-flush account-settings-links">
                    <a class="list-group-item list-group-item-action active" data-toggle="list" href="#account-general">General</a>
                    <a class="list-group-item list-group-item-action" th:href="@{/users/profile/changePass}">Change
                        password</a>
                    <a class="list-group-item list-group-item-action" th:href="@{/users/profile/info}">Edit Profile</a>
                    <a class="list-group-item list-group-item-action" th:href="@{/users/profile/policies}">Show My
                        Policies</a>

                    <!-- TODO: LEFT FOR FUTURE RELEASE -->
<!--                    <a class="list-group-item list-group-item-action" data-toggle="list" href="#account-connections">Delete-->
<!--                        Account</a>-->
                </div>
            </div>
            <div class="col-md-9">
                <div class="tab-content">
                    <div class="tab-pane fade active show" id="account-general">

                        <!-- TODO: LEFT FOR FUTURE RELEASE -->
<!--                        <div class="card-body media align-items-center">-->
<!--                            <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt=""-->
<!--                                 class="d-block ui-w-80">-->
<!--                            <div class="media-body ml-4">-->
<!--                                <label class="btn btn-outline-primary">Upload new photo-->
<!--                                    <input type="file" class="account-settings-fileinput">-->
<!--                                </label> &nbsp;-->
<!--                                <button type="button" class="btn btn-outline-success">Update Photo</button>-->
<!--                                <div class="text-light small mt-1">Allowed JPG, GIF or PNG. Max size of 800K</div>-->
<!--                            </div>-->
<!--                        </div>-->
                        <hr class="border-light m-0">
                        <div class="card-body">
                            <div class="form-group">
                                <label class="form-label">Username</label>
                                <input type="text" class="form-control mb-1" th:field="*{username}" readonly>
                            </div>
                            <div class="form-group">
                                <label class="form-label">Full Name</label>
                                <input type="text" class="form-control" th:field="*{fullName}" readonly>
                            </div>
                            <div class="form-group">
                                <label class="form-label">E-mail</label>
                                <input type="text" class="form-control mb-1" th:field="*{email}" readonly>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="text-right mt-3">
        <a th:href="@{/}" class="btn btn-primary">Back to Home Page</a>&nbsp;
    </div>

</div>

<!-- Bootstrap core JavaScript -->
<th:block th:include="layouts :: assets"></th:block>

</body>

<!-- Footer -->
<footer th:replace="layouts :: footer"></footer>

</html>