<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!-- Header -->
<head th:replace="layouts :: head"></head>

<body>
<!-- Navigation -->
<nav th:replace="layouts :: navbar"></nav>

<div class="container">
    <h5 class="d-flex justify-content-center">
        <i th:if="${error != null}" th:text="${error}" class="error" style="color: red"></i>
    </h5>
    <hr>
    <form method="post" th:action="@{/register}" th:object="${userCreateDto}">
        <div class="form-group row">
            <label for="inputUsername" class="col-sm-2 col-form-label">Username</label>
            <div class="col-sm-5">
                <input th:field="*{username}" type="text" class="form-control" id="inputUsername"
                       placeholder="Please enter username...">
            </div>
            <ul>
                <li th:each="error : ${#fields.errors('username')}" th:text="${error}" style="color: red"></li>
            </ul>
        </div>
        <div class="form-group row">
            <label for="inputEmail3" class="col-sm-2 col-form-label">Email</label>
            <div class="col-sm-5">
                <input th:field="*{email}" type="email" class="form-control" id="inputEmail3"
                       placeholder="Please enter email...">
            </div>
            <ul>
                <li th:each="error : ${#fields.errors('email')}" th:text="${error}" style="color: red"></li>
            </ul>
        </div>
        <div class="form-group row">
            <label for="inputPassword3" class="col-sm-2 col-form-label">Password</label>
            <div class="col-sm-5">
                <input th:field="*{password}" type="password" class="form-control" id="inputPassword3"
                       placeholder="Please enter password...">
            </div>
            <ul>
                <li th:each="error : ${#fields.errors('password')}" th:text="${error}" style="color: red"></li>
            </ul>
        </div>
        <div class="form-group row">
            <label for="inputConfirmPassword3" class="col-sm-2 col-form-label">Confirm Password</label>
            <div class="col-sm-5">
                <input th:field="*{confirmPassword}" type="password" class="form-control" id="inputConfirmPassword3"
                       placeholder="Please enter confirm password...">
            </div>
            <ul>
                <li th:each="error : ${#fields.errors('confirmPassword')}" th:text="${error}" style="color: red"></li>
            </ul>
        </div>
        <div class="form-group row">
            <label for="inputFirstName" class="col-sm-2 col-form-label">First Name</label>
            <div class="col-sm-5">
                <input th:field="*{firstName}" type="text" class="form-control" id="inputFirstName"
                       placeholder="Please enter first name...">
            </div>
            <ul>
                <li th:each="error : ${#fields.errors('firstName')}" th:text="${error}" style="color: red"></li>
            </ul>
        </div>
        <div class="form-group row">
            <label for="inputLastName" class="col-sm-2 col-form-label">Last Name</label>
            <div class="col-sm-5">
                <input th:field="*{lastName}" type="text" class="form-control" id="inputLastName"
                       placeholder="Please enter last name...">
            </div>
            <ul>
                <li th:each="error : ${#fields.errors('lastName')}" th:text="${error}" style="color: red"></li>
            </ul>
        </div>
        <div class="form-group row">
            <label for="inputAge" class="col-sm-2 col-form-label">Age</label>
            <div class="col-sm-5">
                <input th:field="*{age}" type="number" min="1" max="150" class="form-control" id="inputAge"
                       placeholder="Please enter age...">
            </div>
            <ul>
                <li th:each="error : ${#fields.errors('age')}" th:text="${error}" style="color: red"></li>
            </ul>
        </div>
        <div class="form-group row">
            <div class="col-sm-10">
                <button type="submit" class="btn btn-primary">Register
                </button>
            </div>
        </div>
    </form>
    <hr>
</div>

<!-- Bootstrap core JavaScript -->
<th:block th:include="layouts :: assets"></th:block>

</body>

<!-- Footer -->
<footer th:replace="layouts :: footer"></footer>

</html>