<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!-- Header -->
<head th:replace="layouts :: head"></head>

<body>
<!-- Navigation -->
<nav th:replace="layouts :: navbar"></nav>

<center>
    <div class="container">
        <form method="post" th:action="@{/users/update}" th:object="${userProfileUpdateDto}">
            <div class="form-group col-md-6">
                <input type="hidden" th:field="*{id}">
                <label for="inputName">Username</label>
                <input th:field="*{username}" type="text" class="form-control" id="inputName" placeholder="Name.."
                       readonly>
                <!-- validation for @Valid in Controller -->
                <span style="color:red" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></span>
            </div>
            <div class="form-group col-md-6">
                <label for="inputEmail">Email</label>
                <input th:field="*{email}" type="text" class="form-control" id="inputEmail" placeholder="Email..">
                <!-- validation for @Valid in Controller -->
                <span style="color:red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
            </div>
            <div class="form-group col-md-6">
                <label for="firstName">First Name</label>
                <input th:field="*{firstName}" type="text" class="form-control" id="firstName"
                       placeholder="First Name..">
                <!-- validation for @Valid in Controller -->
                <span style="color:red" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></span>
            </div>
            <div class="form-group col-md-6">
                <label for="lastName">Last Name</label>
                <input th:field="*{lastName}" type="text" class="form-control" id="lastName" placeholder="Last Name..">
                <!-- validation for @Valid in Controller -->
                <span style="color:red" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></span>
            </div>
            <div class="form-group col-md-6">
                <label for="age">Age</label>
                <input th:field="*{age}" type="number" class="form-control" id="age" placeholder="Age..">
                <!-- validation for @Valid in Controller -->
                <span style="color:red" th:if="${#fields.hasErrors('age')}" th:errors="*{age}"></span>
            </div>

            <!-- Success Alert -->
            <div th:if="${#fields.hasErrors() == false}" class="alert alert-success" role="alert" id="buttonAlert">
                <strong>Success!</strong>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <!-- Warning Alert -->
            <div th:unless="${#fields.hasErrors() == false}" class="alert alert-danger" role="alert" id="buttonAlert2">
                <strong>Incorrect data</strong>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <!-- Submit Button -->
            <button type="submit" class="btn btn-success ml-3" data-toggle="modal" data-target="#ModalCenter"
                    id="modalButton">
                Update Information
            </button>
            <a th:href="@{/users/profile}" class="btn btn-primary ml-3" id="backButton">Back to Profile</a>
        </form>
    </div>
</center>

<!-- Bootstrap core JavaScript -->
<th:block th:include="layouts :: assets"></th:block>

</body>

<script th:src="@{../static/js/update-user-info.js}"></script>

<!-- Footer -->
<footer th:replace="layouts :: footer"></footer>

</html>