<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:fragment="head">
    <base href="/"/>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Safety Car</title>

    <!-- Bootstrap core CSS -->
    <link th:href="@{../static/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{../static/css/footer-css.css}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
          integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
</head>

<!-- Navigation -->
<nav th:fragment="navbar" class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
        <a class="navbar-brand" th:href="@{/}">Safety Car</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li sec:authorize="!isAuthenticated()"
                    th:classappend="${#httpServletRequest.getRequestURI().startsWith('/') ? 'nav-item active':''}">
                    <a class="nav-link" th:href="@{/}">Home
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li sec:authorize="isAuthenticated()"
                    th:classappend="${#httpServletRequest.getRequestURI().startsWith('/') ? 'nav-item active':''}">
                    <a class="nav-link" th:href="@{/}">Home
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item"
                    th:classappend="${#httpServletRequest.getRequestURI().startsWith('/about') ? 'nav-item active':''}">
                    <a class="nav-link" th:href="@{/about}">About</a>
                </li>
                <li class="nav-item"
                    th:classappend="${#httpServletRequest.getRequestURI().startsWith('/login') ? 'nav-item active':''}">
                    <a class="nav-link" th:href="@{/login}"
                       sec:authorize="!isAuthenticated()">Login</a>
                </li>
                <li class="nav-item"
                    th:classappend="${#httpServletRequest.getRequestURI().startsWith('/register') ? 'nav-item active':''}">
                    <a class="nav-link" th:href="@{/register}"
                       sec:authorize="!isAuthenticated()">Register</a>
                </li>
                <li class="nav-item"
                    th:classappend="${#httpServletRequest.getRequestURI().startsWith('/users/profile') ? 'nav-item active':''}">
                    <a class="nav-link" th:href="@{/users/profile}"
                       sec:authorize="isAuthenticated()">Profile</a>
                </li>
                <li class="nav-item"
                    th:classappend="${#httpServletRequest.getRequestURI().startsWith('/admin') ? 'nav-item active':''}">
                    <a class="nav-link" th:href="@{/admins}"
                       sec:authorize="isAuthenticated() && (hasRole('ADMIN') || hasRole('ROOT'))">Admin Panel</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/logout}"
                       sec:authorize="isAuthenticated()">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- Footer -->
<footer th:fragment="footer" class="page-footer font-small blue">
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
        Safety Car Insurances - Team 2
    </div>
</footer>

<!-- Bootstrap core JavaScript -->
<div th:fragment="assets">
    <script th:src="@{../static/vendor/jquery/jquery.slim.min.js}"></script>
    <script th:src="@{../static/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
            integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
            integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
            crossorigin="anonymous"></script>
</div>

</html>