<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!-- Header -->
<head th:replace="layouts :: head"></head>

<!-- Custom Style CSS -->
<link rel="stylesheet" th:href="@{../static/css/policy-success-page-css.css}">

<body>
<!-- Navigation -->
<nav th:replace="layouts :: navbar"></nav>

<div class="contain" th:object="${policyInfo}">
    <div class="congrats">
        <h1>Congrat<span class="hide">ulation</span>s!</h1>
        <div class="done">
            <svg version="1.1" id="tick" xmlns="http://www.w3.org/2000/svg"
                 x="0px" y="0px"
                 viewBox="0 0 37 37" style="enable-background:new 0 0 37 37;" xml:space="preserve">
                <polyline class="tick path"
                          style="fill:none;stroke:#000000;stroke-width:3;stroke-linejoin:round;stroke-miterlimit:10;"
                          points="11.6,20 15.9,24.2 26.4,13.8 "/>
            </svg>
        </div>
        <div class="text">
            <p>You have successfully created your car insurance policy.
                <br>
                Here are your details:
            </p>
            <h5 th:utext="${'&lt;strong&gt;'+ 'Date: ' + '&lt;/strong&gt;' + policyInfo.date}"></h5>
            <h5 th:utext="${'&lt;strong&gt;'+ 'Postal Address: ' + '&lt;/strong&gt;' + policyInfo.address}"></h5>
            <h5 th:utext="${'&lt;strong&gt;'+ 'Email: ' + '&lt;/strong&gt;' + policyInfo.email}"></h5>
            <h5 th:utext="${'&lt;strong&gt;'+ 'Name: ' + '&lt;/strong&gt;' + policyInfo.name}"></h5>
            <br>
        </div>
        <p class="regards">Regards, Safety Car Team</p>
        <a class="btn btn-dark" th:href="@{/}">Back to Home page</a>
    </div>
</div>

<!-- Bootstrap core JavaScript -->
<th:block th:include="layouts :: assets"></th:block>

</body>
<script th:src="@{../static/js/policy-success-page-script.js}"></script>

<!-- Footer -->
<footer th:replace="layouts :: footer"></footer>

</html>