<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!-- Header -->
<head th:replace="layouts :: head"></head>

<body>
<!-- Navigation -->
<nav th:replace="layouts :: navbar"></nav>

<!-- Page Content -->
<div class="container">
    <form method="post" th:action="@{/policies/create}" th:object="${policyCreateDto}" class="needs-validation"
          enctype="multipart/form-data">
        <div class="form-row">
            <div class="col-sm-5">
                <label>Cubic capacity</label>
                <input type="number" class="form-control"
                       th:value="${theOffer.cubicCapacity}" readonly>
            </div>
            <div class="col-sm-5">
                <label>Launch Date</label>
                <input type="date" class="form-control" th:value="${theOffer.registrationDate}" readonly>
            </div>
        </div>
        <div class="form-row">
            <div class="col-sm-5">
                <label>Driver age</label>
                <input type="number" class="form-control" th:value="${theOffer.driverAge}" readonly>
            </div>
            <div class="col-sm-5">
                <label>Car</label>
                <input type="text" class="form-control"
                       th:value="${theOffer.model.brand.name + ' ' + theOffer.model.name}"
                       readonly>
            </div>
        </div>
        <div class="form-row">
            <div class="col-sm-5 mt-3">
                <label>Has accidents</label>
                <input class="btn btn-danger" th:if="${theOffer.hasAccidents} == true" th:value="Yes" readonly>
                <input class="btn btn-success" th:if="${theOffer.hasAccidents} == false" th:value="No" readonly>
            </div>
            <div class="col-sm-5">
                <label>Total Premium:</label>
                <input type="text" class="form-control" th:value="${theOffer.totalPremium}" readonly>
            </div>
        </div>
        <div class="form-row">
            <div class="col-sm-5">
                <label for="image">Registration Certificate</label>
                <input type="file" th:field="*{picture}" id="image" accept="image/x-png,image/jpeg"/>
                <!--                <input type="file" name="picture" id="image"/>-->
                <ul>
                    <li th:if="${picError != null}" th:text="${picError}" style="color: red"></li>
                </ul>
            </div>
            <div class="col-sm-5">
                <label>Postal Address</label>
                <input type="text" class="form-control" id="validationTooltip01"
                       th:field="*{postalAddress}"
                       placeholder="Please enter postal address..">
                <ul>
                    <li th:each="error : ${#fields.errors('postalAddress')}" th:text="${error}" style="color: red"></li>
                </ul>
            </div>
        </div>
        <div class="form-row">
            <div class="col-sm-5">
                <label>Email</label>
                <input type="email" class="form-control" id="validationTooltip02"
                       th:field="*{email}"
                       placeholder="Please enter email..">
                <ul>
                    <li th:each="error : ${#fields.errors('email')}" th:text="${error}" style="color: red"></li>
                </ul>
            </div>
            <div class="col-sm-5">
                <label>Phone Number</label>
                <input type="text" class="form-control" id="validationTooltip03"
                       th:field="*{phone}"
                       placeholder="Please enter phone number..">
                <ul>
                    <li th:each="error : ${#fields.errors('phone')}" th:text="${error}" style="color: red"></li>
                </ul>
            </div>
        </div>
        <button type="submit" name="action" th:value="finish" class="btn btn-success">Finish the policy</button>
        <button type="submit" name="action" th:value="cancel" class="btn btn-danger">Cancel policy</button>
    </form>
</div>

<!-- Bootstrap core JavaScript -->
<th:block th:include="layouts :: assets"></th:block>

</body>

<!-- Footer -->
<footer th:replace="layouts :: footer"></footer>

</html>