img {
    width: 50px;
    border: 1px solid black; /* This is only added for testing purposes*/
}

.thumbnail:hover {
    width: 500px;
    height: auto;
    position: relative;
    /* push image to the right by 1/2 the screen width and 1/2 the image width */
    margin-left: calc(50% - 250px);
}