<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!-- Header -->
<head th:replace="layouts :: head"></head>

<body>
<!-- Navigation -->
<nav th:replace="layouts :: navbar"></nav>

<div class="container">
    <form method="post" th:action="@{/offers/create}" th:object="${offerCreateDto}" class="needs-validation">
        <div class="form-row">
            <div class="col-sm-5">
                <label>Cubic capacity</label>
                <input type="number" min="1" max="999999" class="form-control" id="validationTooltip01"
                       th:field="*{cubicCapacity}"
                       placeholder="Please enter cubic capacity">
                <ul>
                    <li th:each="error : ${#fields.errors('cubicCapacity')}" th:text="${error}" style="color: red"></li>
                </ul>
            </div>
            <div class="col-sm-5">
                <label>Launch Date</label>
                <input type="date" class="form-control" th:field="*{registrationDate}">
                <ul>
                    <li th:each="error : ${#fields.errors('registrationDate')}" th:text="${error}"
                        style="color: red"></li>
                </ul>
            </div>
        </div>
        <div class="form-row">
            <div class="col-sm-5">
                <label>Driver age</label>
                <input type="number" min="1" max="150" class="form-control" id="validationTooltip03"
                       th:field="*{driverAge}"
                       placeholder="Please enter driver age">
                <ul>
                    <li th:each="error : ${#fields.errors('driverAge')}" th:text="${error}" style="color: red"></li>
                </ul>
            </div>
            <div class="col-sm-5">
                <label>Car Brand</label>
                <select th:field="*{brandId}" class="custom-select" id="brand-id">
                    <option selected="selected" value="">Choose Car Brand...</option>
                    <!-- AJAX generated here -->
                </select>
                <ul>
                    <li th:each="error : ${#fields.errors('brandId')}" th:text="${error}" style="color: red"></li>
                </ul>
            </div>
            <div class="col-sm-5">
                <div>Has accidents</div>
                <label class="btn btn-danger">
                    <input type="radio" name="options" id="option1" value="yes" th:field="*{hasAccidents}">
                    <label for="option1">Yes</label>
                </label>
                <label class="btn btn-success">
                    <input type="radio" name="options" id="option2" value="no" th:field="*{hasAccidents}">
                    <label for="option2">No</label>
                </label>
                <ul>
                    <li th:each="error : ${#fields.errors('hasAccidents')}" th:text="${error}" style="color: red"></li>
                </ul>
            </div>
            <div class="col-sm-5">
                <label>Car Model</label>
                <select th:field="*{modelId}" class="custom-select" id="model-id">
                    <option selected="selected" value="">Choose Car Model...</option>
                    <!-- AJAX generated here -->
                </select>
                <ul>
                    <li th:each="error : ${#fields.errors('modelId')}" th:text="${error}" style="color: red"></li>
                </ul>
            </div>
        </div>
        <button class="btn btn-success" type="submit">Calculate Offer</button>
        <br>
        <br>
        <br>
        <br>
        <hr>
        <a th:href="@{/}" class="btn btn-primary">Back to Home Page</a>
    </form>
</div>

<!-- Bootstrap core JavaScript -->
<th:block th:include="layouts :: assets"></th:block>

<!-- AJAX Script -->
<script th:src="@{../static/js/car-dropdowns.js}"></script>

</body>

<!-- Footer -->
<footer th:replace="layouts :: footer"></footer>

</html>