<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!-- Header -->
<head th:replace="layouts :: head"></head>

<!-- Loader gif CSS -->
<link rel="stylesheet" th:href="@{../static/css/offer-success-loader.css}">

<body>
<!-- Navigation -->
<nav th:replace="layouts :: navbar"></nav>

<div class="loader"></div>

<center>
    <div th:if="${offer != null}">
        <br>
        <br>
        <h1 th:text="${'The amount of the offer for your car is:'}"></h1>
        <br>
        <h2 th:text="${offer.totalPremium + ' BGN'}"></h2>
        <hr>
        <br>
        <form class="btn btn-success mr-5" method="post" th:action="@{/offers/accept}">
            <button class="btn btn-success" type="submit">Take this offer</button>
        </form>
        <a class="btn btn-info" th:href="@{/offers/reject}">I don't like this offer</a>
    </div>
    <div th:if="${offer == null and #httpSession.getAttribute('theOffer') == null}">
        <br>
        <br>
        <br>
        <h1>There is no offer created yet</h1>
        <br>
        <br>
        <br>
        <a th:href="@{/}" class="btn btn-primary">Back to Home Page</a>
    </div>
    <div th:if="${offer == null and #httpSession.getAttribute('theOffer') != null}">
        <br>
        <br>
        <br>
        <h1>You already requested an offer</h1>
        <br>
        <br>
        <br>
        <a th:href="@{/}" class="btn btn-primary">Back to Home Page</a>
    </div>
</center>

<!-- Bootstrap core JavaScript -->
<th:block th:include="layouts :: assets"></th:block>

</body>

<!-- Loader gif script -->
<script th:src="@{../static/js/loader-gif.js}"></script>

<!-- Footer -->
<footer th:replace="layouts :: footer"></footer>

</html>