<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!-- Header -->
<head th:replace="layouts :: head"></head>

<body>
<!-- Navigation -->
<nav th:replace="layouts :: navbar"></nav>

<div class="card-header" th:object="${offerDetailsDto}">
    <center>
        <h3><strong><i>Offer Additional Details:</i></strong></h3>
        <br>
        <p class="label label-warning"
           th:utext="${'&lt;strong&gt;' + 'Model: ' + '&lt;/strong&gt;' + offerDetailsDto.brand + ' ' + offerDetailsDto.model}"></p>
        <p class="label label-info"
           th:utext="${'&lt;strong&gt;' + 'Cubic capacity: ' + '&lt;/strong&gt;' + offerDetailsDto.cubicCapacity }"></p>
        <p class="label label-info"
           th:utext="${'&lt;strong&gt;' + 'Driver age: ' + '&lt;/strong&gt;' + offerDetailsDto.driverAge}"></p>
        <p class="label label-success"
           th:utext="${'&lt;strong&gt;' + 'Has previous accidents: ' + '&lt;/strong&gt;' + offerDetailsDto.hasAccidents}"></p>
        <p class="label label-info"
           th:utext="${'&lt;strong&gt;' + 'Total premium: ' + '&lt;/strong&gt;' + offerDetailsDto.totalPremium}"></p>
        <p class="label label-info"
           th:utext="${'&lt;strong&gt;' + 'Registration date: ' + '&lt;/strong&gt;' + offerDetailsDto.registrationDate}"></p>
        <a th:href="@{/users/profile/policies}" class="btn btn-primary btn-sm mr-1 mt-5 mb-4">Go Back to Policies
            Page</a>
    </center>
</div>

<!-- Bootstrap core JavaScript -->
<th:block th:include="layouts :: assets"></th:block>

</body>

<!-- Footer -->
<footer th:replace="layouts :: footer"></footer>

</html>