<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!-- Header -->
<head th:replace="layouts :: head"></head>

<!-- Custom Style CSS -->
<link rel="stylesheet" th:href="@{../static/css/about-page.css}">

<body>
<!-- Navigation -->
<nav th:replace="layouts :: navbar"></nav>

<link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css"
      integrity="sha256-3sPp8BkKUE7QyPSl6VfBByBroQbKxKG7tsusY2mhbVY=" crossorigin="anonymous"/>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>

<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="section-title title-left text-center text-lg-left">
                <hr/>
                <h4 class="top-sep"><strong>Who we are?</strong></h4>
                <p>We are Telerik Academy - Alpha Java students 🐱‍👤, who are passionate about code 🔥</p>
                <br>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-6 col-lg-4 mb-30">
            <div class="team-item">
                <div class="mb-30 position-relative d-flex align-items-center">
                            <span class="socials d-inline-block">
                                <a th:href="@{https://gitlab.com/unkn0wn3rr0r}" target="_blank"
                                   class="fa fa-gitlab"></a>
                                <a href="#" class="zmdi zmdi-instagram"></a>
                            </span>
                    <span class="img-holder d-inline-block">
                                 <img src="https://img.imageupload.net/2020/10/26/kaloian_stoianovv.jpg"
                                      alt="kaloian_stoianovv.jpg" border="0"/>
                            </span>
                </div>
                <div class="team-content">
                    <h5 class="mb-2">Kaloyan Stoyanov</h5>
                    <p class="text-uppercase mb-0">Backend wannabe developer who loves frontend 🎨</p>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-4 mb-30">
            <div class="team-item">
                <div class="mb-30 position-relative d-flex align-items-center">
                            <span class="socials d-inline-block">
                                <a th:href="@{https://gitlab.com/k0novv}" target="_blank" class="fa fa-gitlab"></a>
                                <a href="#" class="zmdi zmdi-instagram"></a>
                            </span>
                    <span class="img-holder d-inline-block">
                        <img src="https://img.imageupload.net/2020/10/28/20201012_191820.jpg" alt="Strahil-goranov.jpg"
                            border="0"/></a>
                    </span>
                </div>
                <div class="team-content">
                    <h5 class="mb-2">Strahil Goranov</h5>
                    <p class="text-uppercase mb-0">Sofia University - Computer Science Student 🤓</p>
                </div>
            </div>
        </div>
    </div>
    <hr>
</div>

<!-- Bootstrap core JavaScript -->
<th:block th:include="layouts :: assets"></th:block>

</body>

<!-- Footer -->
<footer th:replace="layouts :: footer"></footer>
</html>