<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<!-- Header -->
<head th:replace="layouts :: head"></head>

<body>
<!-- Navigation -->
<nav th:replace="layouts :: navbar"></nav>

<center>
    <br>
    <br>
    <br>
    <h1>You are not authorized to request this resource</h1>
    <br>
    <br>
    <br>
    <a class="btn btn-primary" th:href="@{/}">Go Back to Home Page</a>
</center>

<!-- Bootstrap core JavaScript -->
<th:block th:include="layouts :: assets"></th:block>

</body>

<!-- Footer -->
<footer th:replace="layouts :: footer"></footer>

</html>