<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<!-- Header -->
<head th:replace="layouts :: head"></head>

<body>
<!-- Navigation -->
<nav th:replace="layouts :: navbar"></nav>

<!-- Page Content -->
<div class="container">
    <div sec:authorize="isAuthenticated()">
        <h1 th:text="${'Hello ' + currentUser}" class="d-flex justify-content-center mt-2"></h1>
        <hr>
    </div>
    <br>
    <br>
    <div class="row">
        <div class="col-lg-12 text-center">
            <div>
                <h3>Get an Offer from here:</h3>
                <div>
                    <a class="btn btn-primary btn-lg" th:href="@{/offers}" role="button">Simulate</a>
                </div>
                <div>
                    <small>You can simulate an offer for your car from here</small>
                </div>
            </div>
            <br>
            <br>
            <div>
                <h3>Go to your Profile Page from here:</h3>
                <div>
                    <a class="btn btn-primary btn-lg" th:href="@{/users/profile}" role="button">Profile</a>
                </div>
                <div>
                    <small>You can modify/change your settings from your profile page</small>
                </div>
                <hr>
            </div>
        </div>
    </div>
</div>

<!-- Bootstrap core JavaScript -->
<th:block th:include="layouts :: assets"></th:block>

</body>

<!-- Footer -->
<footer th:replace="layouts :: footer"></footer>
</html>