<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!-- Header -->
<head th:replace="layouts :: head"></head>

<body>
<!-- Navigation -->
<nav th:replace="layouts :: navbar"></nav>

<div class="jumbotron">
    <h1 class="display-4">Welcome to Safety Car Insurances!</h1>
    <p class="lead">Best insurance offers on the internet.</p>
    <p class="lead">You can <a th:href="@{/login}">login</a> if you have an account or <a th:href="@{/register}">register</a>
        if you don't.</p>
    <hr class="my-4">
    <p>You can try our offers without a registration. Just click on the button below to simulate an offer.</p>
    <a class="btn btn-primary btn-lg" th:href="@{/offers}" role="button">Simulate Offer</a>
</div>

<!-- Bootstrap core JavaScript -->
<th:block th:include="layouts :: assets"></th:block>

</body>

<!-- Footer -->
<footer th:replace="layouts :: footer"></footer>

</html>