<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!-- Header -->
<head th:replace="layouts :: head"></head>

<!-- Custom Style CSS -->
<link th:href="@{../static/css/admin-page.css.css}" rel="stylesheet">

<!-- Pie Chart Library -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js"></script>

<body>
<!-- Navigation -->
<nav th:replace="layouts :: navbar"></nav>

<!-- Page Content -->
<div class="container light-style flex-grow-1 container-p-y">
    <hr/>
    <h4 class="font-weight-bold py-3 mb-4">Admin panel</h4>
    <div class="card overflow-hidden">
        <div class="row no-gutters row-bordered row-border-light">
            <div class="col-md-3 pt-0">
                <div class="list-group list-group-flush account-settings-links">
                    <a class="list-group-item list-group-item-action active" data-toggle="list" href="#account-general">General</a>
                    <a class="list-group-item list-group-item-action" th:href="@{/admins/all}">All Policies</a>
                    <a class="list-group-item list-group-item-action" th:href="@{/admins/pending}">Pending Policies</a>
                    <a class="list-group-item list-group-item-action" th:href="@{/admins/users}">All Users</a>

                    <!-- TODO: LEFT FOR FUTURE RELEASE -->
                    <!--                    <a class="list-group-item list-group-item-action" th:href="@{#}">Admin information</a>-->
                    <!--                    <a sec:authorize="isAuthenticated() && hasRole('ROOT')"-->
                    <!--                       class="list-group-item list-group-item-action" th:href="@{#}">Create new admin</a>-->
                </div>
            </div>
            <div class="col-md-9">
                <section class="page-section cta mt-3">
                    <div class="container">
                        <canvas id="myChart" height="475" width="475"></canvas>
                    </div>
                    <!-- Pie Chart data coming from MVC -->
                    <script>
                        let myChart = document.getElementById('myChart').getContext('2d');
                        let approved = [[${approvedStatuses}]];
                        let pending = [[${pendingStatuses}]];
                        let canceled = [[${canceledStatuses}]];
                        let rejected = [[${rejectedStatuses}]];
                    </script>
                </section>
            </div>
        </div>
    </div>
    <div class="text-right mt-3">
        <a th:href="@{/}" class="btn btn-primary">Back to Home Page</a>&nbsp;
    </div>
</div>

<!-- Bootstrap core JavaScript -->
<th:block th:include="layouts :: assets"></th:block>

</body>

<!-- Pie Chart Script -->
<script th:src="@{../static/js/pie-chart.js}"></script>

<!-- Footer -->
<footer th:replace="layouts :: footer"></footer>
</html>