<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!-- Header -->
<head th:replace="layouts :: head"></head>

<!-- Custom Style CSS -->
<link th:href="@{../static/css/all-policies-page.css}" rel="stylesheet">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>

<!-- Custom Style CSS -->
<link th:href="@{../static/css/admin-all-policies.css}" rel="stylesheet">

<body>
<!-- Navigation -->
<nav th:replace="layouts :: navbar"></nav>

<!-- Page Content -->
<div class="container" th:object="${policies}">
    <div class="row">
        <!-- Orders Table-->
        <div>
            <hr/>
            <h4><strong>All Insurance Policies</strong></h4>
            <div class="d-flex justify-content-end pb-3">
                <div class="form-inline">
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button"
                                id="dropdownMenuButton"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Sort Policies
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" th:href="@{/admins/sort/(sort='date_asc')}">Date Asc</a>
                            <a class="dropdown-item" th:href="@{/admins/sort/(sort='date_desc')}">Date Desc</a>
                            <a class="dropdown-item" th:href="@{/admins/sort/(sort='pending')}">Pending Status</a>
                            <a class="dropdown-item" th:href="@{/admins/sort/(sort='rejected')}">Rejected Status</a>
                            <a class="dropdown-item" th:href="@{/admins/sort/(sort='approved')}">Approved Status</a>
                            <a class="dropdown-item" th:href="@{/admins/sort/(sort='canceled')}">Canceled Status</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="table-responsive">
                <table class="table table-hover mb-0">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Date Created</th>
                        <th>Email</th>
                        <th>User</th>
                        <th>Driver Age</th>
                        <th>Accidents</th>
                        <th>Total Premium</th>
                        <th>Status</th>
                        <th>Information</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="policy, iter : ${policies}">
                        <td th:text="${iter.index + 1}"></td>
                        <td th:text="${policy.effectiveDate}"></td>
                        <td th:text="${policy.email}"></td>
                        <td th:text="${policy.userDetails.username}"></td>
                        <td th:text="${policy.offer.driverAge}"></td>
                        <td>
                            <span th:if="${policy.offer.hasAccidents == true}" class="badge badge-warning m-0"><i
                                    class="mdi mdi-checkbox-blank-circle mr-1"></i>Yes</span>
                            <span th:if="${policy.offer.hasAccidents == false}" class="badge badge-light m-0"><i
                                    class="mdi mdi-checkbox-blank-circle mr-1"></i>No</span>
                        </td>
                        <td th:text="${policy.offer.totalPremium}"></td>
                        <td>
                            <span th:if="${policy.status.name == 'pending'}" class="badge badge-info m-0"><i
                                    class="mdi mdi-checkbox-blank-circle mr-1"></i>Pending</span>
                            <span th:if="${policy.status.name == 'approved'}" class="badge badge-success m-0"><i
                                    class="mdi mdi-checkbox-blank-circle mr-1"></i>Approved</span>
                            <span th:if="${policy.status.name == 'rejected'}" class="badge badge-danger m-0"><i
                                    class="mdi mdi-checkbox-blank-circle mr-1"></i>Rejected</span>
                            <span th:if="${policy.status.name == 'canceled'}" class="badge badge-dark m-0">
                                <i class="mdi mdi-checkbox-blank-circle mr-1"></i>Canceled</span>
                        </td>
                        <td>
                            <a class="btn btn-outline-info btn-circle btn-sm btn-circle" type="submit"
                               th:href="@{/admins/policy/{id}/info(id=${policy.id})}">
                                <i class="fa fa-info fa-lg" aria-hidden="true"></i>
                            </a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <hr>
            <a th:href="@{/admins}" class="btn btn-primary ml-3" id="backButton">Back to Admin Panel</a>
        </div>
    </div>
</div>

<!-- Bootstrap core JavaScript -->
<th:block th:include="layouts :: assets"></th:block>

</body>

<!-- Footer -->
<footer th:replace="layouts :: footer"></footer>
</html>