<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!-- Header -->
<head th:replace="layouts :: head"></head>

<!-- Custom Style CSS -->
<link th:href="@{../static/css/all-policies-page.css}" rel="stylesheet">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>

<!-- Custom Style CSS -->
<link th:href="@{../static/css/admin-all-policies.css}" rel="stylesheet">

<body>
<!-- Navigation -->
<nav th:replace="layouts :: navbar"></nav>

<!-- Page Content -->
<div class="container">
    <div class="row">
        <div>
            <h4><strong>All Users</strong></h4>
            <div id="user-table" class="table-responsive">

            </div>
            <br>
            <div id="user-policies">

            </div>

            <div id="success-message">

            </div>
            <br>
            <a th:href="@{/admins}" class="btn btn-primary ml-3" id="backButton">Back to Admin Panel</a>
        </div>
    </div>
</div>

<!-- Bootstrap core JavaScript -->
<th:block th:include="layouts :: assets"></th:block>
<script src="../../static/js/admins-all-users.js"></script>
</body>

<!-- Footer -->
<footer th:replace="layouts :: footer"></footer>
</html>