<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!-- Header -->
<head th:replace="layouts :: head"></head>

<!-- Custom Style CSS -->
<link th:href="@{../static/css/pending-policies-page.css}" rel="stylesheet">

<!-- Pie Chart Library -->
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>

<body>
<!-- Navigation -->
<nav th:replace="layouts :: navbar"></nav>

<!-- Page Content -->
<div class="container bootstrap snippets bootdeys">
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-default invoice" id="invoice">
                <div class="panel-body">

                    <div class="row">
                    </div>
                    <hr>
                    <div class="container">

                        <div class="row">

                            <div class="col">
                                <p class="lead marginbottom"><h3>User details</h3></span></p>
                                <p><b>Username:</b> <span th:text="${user.username}"></span></p>
                                <p><b>First name:</b> <span th:text="${user.firstName}"></span></p>
                                <p><b>Last name:</b> <span th:text="${user.lastName}"></span></p>
                                <p><b>Email:</b> <span th:text="${user.email}"></span></p>
                                <p><b>Age:</b> <span th:text="${user.age}"></span></p>
                            </div>

                            <div class="col">
                                <p class="lead marginbottom"><h3>Offer details</h3></p>
                                <p><b>Car brand:</b> <span th:text="${offer.model.brand.name}"></span></p>
                                <p><b>Car model:</b> <span th:text="${offer.model.name}"></span></p>
                                <p><b>Registration date:</b> <span th:text="${offer.registrationDate}"></span></p>
                                <p><b>Accidents:</b> <span th:if="${policy.offer.hasAccidents == true}" class="badge badge-warning m-0"><i
                                        class="mdi mdi-checkbox-blank-circle mr-1"></i>Yes</span>
                                <span th:if="${policy.offer.hasAccidents == false}" class="badge badge-light m-0"><i
                                        class="mdi mdi-checkbox-blank-circle mr-1"></i>No</span></p>
                            </div>

                            <div class="col">
                                <p class="lead marginbottom payment-info"><h3>Policy details</h3></p>
                                <p><b>Email:</b> <span th:text="${policy.email}"></span></p>
                                <p><b>Phone:</b> <span th:text="${policy.phone}"></span></p>
                                <p><b>Status:</b> <span th:if="${policy.status.name == 'pending'}"
                                                 class="badge badge-info m-0"><i
                                        class="mdi mdi-checkbox-blank-circle mr-1"></i>Pending</span>
                                    <span th:if="${policy.status.name == 'approved'}" class="badge badge-success m-0"><i
                                            class="mdi mdi-checkbox-blank-circle mr-1"></i>Approved</span>
                                    <span th:if="${policy.status.name == 'rejected'}" class="badge badge-danger m-0"><i
                                            class="mdi mdi-checkbox-blank-circle mr-1"></i>Rejected</span>
                                    <span th:if="${policy.status.name == 'canceled'}" class="badge badge-dark m-0">
                                <i class="mdi mdi-checkbox-blank-circle mr-1"></i>Canceled</span>
                                </p>
                                <p><b>Postal address:</b> <span th:text="${policy.postalAddress}"></span></p>
                            </div>
                            <div class="col">
                                <img th:src="@{'data:image/png;base64,'+${policy.generateBase64Image()}}"
                                     alt="Registration Certificate Image" class="img-thumbnail"
                                     style="width: 300%; height: 80%">

                            </div>
                        </div>
                    </div>

                    <div class="row table-row">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th class="text-center" style="width:5%">#</th>
                                <th style="width:50%">Item</th>
                                <th class="text-right" style="width:15%">Start Date</th>
                                <th class="text-right" style="width:15%">Total Premium</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td class="text-center">1</td>
                                <td>Car Policy</td>
                                <td class="text-right"><span th:text="${policy.effectiveDate}"></span></td>
                                <td class="text-right"><span th:text="${offer.totalPremium}"></span></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="row">
                        <div class="col-xs-6 margintop">
                            <div th:if="${policy.status.name != 'pending'}">
                                <hr/>
                                <h3>This policy was already reviewed</h3>
                            </div>
                            <div class="container">
                                <div th:if="${policy.status.name == 'pending'}">
                                    <div class="row">
                                        <div class="col">
                                            <form th:if="${policy.status.name == 'pending'}" method="post"
                                                  th:action="@{/admins/approve(id=${policy.id})}">
                                                <button class="btn btn-success"
                                                        type="submit"
                                                        onclick="if (!(confirm(`Are you sure you want to APPROVE this policy?`))) return false;">
                                                    Approve
                                                </button>
                                            </form>
                                        </div>
                                        <div class="col">
                                            <form th:if="${policy.status.name == 'pending'}" method="post"
                                                  th:action="@{/admins/reject(id=${policy.id})}">
                                                <button class="btn btn-danger"
                                                        type="submit"
                                                        onclick="if (!(confirm(`Are you sure you want to REJECT this policy?`))) return false;">
                                                    Reject
                                                </button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr/>
                            <a th:href="@{/admins}" class="btn btn-primary ml-3" id="backButton">Back to Admin panel</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

<!-- Bootstrap core JavaScript -->
<th:block th:include="layouts :: assets"></th:block>

</body>

<!-- Footer -->
<footer th:replace="layouts :: footer"></footer>

</html>